@model LoginViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-5">
    <h1>Log in here:</h1>
</div>


<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="w-50">
        <form>
            <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Email address or Username</label>
            </div>
            <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
            </div>
            <div class="row mb-4">
                <button type="button" class="btn btn-primary btn-block mb-4">Sign in</button>
                <div class="text-center">
                    <p>Not a member? <a href="#!">Register</a></p>
                </div>
        </form>
    </div>
</div>